.breadcrumb {
    padding: 0px;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    margin-top: 0px;
}
.breadcrumb>li+li:before {
    padding: 0;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li.active a {
    background: brown;                   /* fallback color */
    background: #ffc107 ;
}
.breadcrumb li.completed a {
    background: brown;                   /* fallback color */
    background: hsla(153, 57%, 51%, 1);
}
.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107 ;
}
.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 6px 0 6px 41px;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: -15px;
}
.breadcrumb li a:hover { background: #ffc107  ; }
.breadcrumb li a:hover:after { border-left-color: #ffc107   !important; }

.thumbnail {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(111, 111, 111, 0.19) !important;
    -moz-box-shadow: 3px 3px 5px 0px rgba(111, 111, 111, 0.19)!important;;
    box-shadow: 3px 3px 5px 0px rgba(111, 111, 111, 0.19)!important;;
}
.thumbnail:hover{
    -webkit-box-shadow: 0.5px 0.5px 0.5px 0px rgba(111, 111, 111, 0.19) !important;
    -moz-box-shadow: 0.5px 0.5px 0.5px 0px rgba(111, 111, 111, 0.19)!important;
    box-shadow: 0.5px 0.5px 0px 0.5px rgba(111, 111, 111, 0.19)!important;
}